body {
    direction: rtl;
    width: 900px;
    box-sizing: border ;
    margin: auto ;
}

div.header img {
    display:inline ;
    float: right;
}

div.center {
    margin: auto;
    width: 900px;
    position: fixed;
    box-sizing: border;
}
div.colume {
    width: 33.3% ;
    margin: 0 ;
    padding: 0px; 
    float:right ;
    position: relative ;
    top: 40px;
    height: 200px;
    box-sizing: border ;
    display: block;
}

div.content{
background-color: rgba(127,127,127,0.5);
color: white ;
display: block ;
padding: 0px;
width: 85% ;
margin: 10px ;
position: absolute ;
top: 180px ;
height: 75% ;
border-radius: 0px 0px 20px 0px;



}

div.content1{
background-color: lightgray;
color: grey ;
display: block ;
width: 95% ;
margin: 10px 0px ;
position: absolute ;
top: 160px ;
height: 100% ;
border: 1px solid grey;
border-radius: 00px 20px 0px 0px;

}

div.content1 a{
    color:grey;
    display:block;
}

div.content1 img{
margin:auto;
display:block;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 5px;
}
p {
    font-size: 14px;
    width:100%;
    display:block;
    padding: 0px 5px;
    height: 70px;
}

p.a {
     font-size: 14px;
     color: white ;
     direction: left;

}

row {
    overflow: clear;


}

header {
    overflow: clear ;
    background: grey ;
    display: block ;
    height: 100px ;
}

footer {
    background: grey ;
    display: block ;
    position: absolute ;
    text-align: right;
    width: 900px;
    bottom: -370px;
    right: 0;
    margin:auto;
    height: 20px;
    padding: 15px;
}

footer a {
    text-decoration: none ;
    border-left: 2px solid white ;
    padding: 0px 5px;
    color: white ;
}

clear {
    overflow: clear ;
}

div.map{
    float: left ;
    margin: 0px 30px;
    padding: 0;
    top: -20px;
    position: relative;
}
div.map a{
    text-align: right ;
    display: block;
    margin: 20px;
    padding:20px;
}
map1{
    float: right;
}


.roundcorner{
    border-radius: 0px 0px 20px 0px;
}











nav ul {
  list-style-type: none;
  /*background-color: blue;*/
  /*overflow: hidden;*/
}

nav ul li {
  float: right;
  background-color: grey;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: Arial;
  font-size: 14px;
  color: white;
  padding: 5px 20px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:grey;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
    display: block;
    font-size: 12px;
    color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a:hover {
  background-color: Darkgrey;
}

.dropdown-content a:hover {
  color: blue

}

