body {
    direction: rtl;
    width: 1000px;
    box-sizing: border ;
    margin: 0px ;
}

div {
    margin: auto;
}
div.colume {
    width: 33% ;
    margin: 0 ;
    padding: 0px; 
    float:right ;
    position: relative ;
}

div.content{
background-color: rgba(127,127,127,0.5);
color: white ;
dispaly: block ;
width: 90% ;
margin:0 ;
position: absolute ;
top: 220px ;
}

h1 {
    
    font-size: 20px;
    font-weight: bold;
}
p {
    font-size: 16px;
}

p.a {
     font-size: 16px;
     color: white
}

row {
    overflow: clear;


}

header {
    overflow: clear ;
    background: grey ;
    dispaly: block ;
}

footer {
    overflow: clear ;
    background: grey ;
    dispaly: block ;
}

clear {
    overflow: clear ;
}